* {
margin : 0;
padding : 0;
}
body {
font-family : "Microsoft YaHei" !important ;
font-size : 14px;
}
header, footer, aside, nav, article, section {
display : block;
}
a, a:link, a:visited, a:active {
color : #1e79a7;
text-decoration : none;
}
a:hover {
color : #ff0084;
text-decoration : none;
}
img {
border : 0;
max-width : 100%;
}
sub {
color : #999;
font-size : 9px;
}
#header {
background : #38abe3;
height : 45px;
padding : 0;
}
#logo {
float : left;
font-weight : bold;
line-height : 27px;
margin : 10px 0 0 0;
}
#logo span {
color : #e4f7fe;
font-size : 24px;
}
#logo a:hover span {
color : #f3fcff;
}
#nav ul {
list-style : none;
padding : 10px;
text-align : right;
}
#nav li {
display : inline;
line-height : 27px;
}
#nav a {
height : 28px;
margin-left : 10px;
}
#body {
margin : 15px auto 0;
text-align : left;
}
#content {
float : left;
margin : 0 0 40px;
}
#side-bar {
float : right;
}
#signup p {
margin : 0 auto;
width : 250px;
}
#signup label {
color : #474747;
display : block;
font-weight : bold;
padding : 6px 0 0;
}
#p_form label {
color : #666;
display : block;
font-size : 120%;
font-weight : bold;
}
#p_form h3 {
border : none;
color : #02475a;
font-size : 140%;
font-weight : bold;
margin : 0;
padding : 6px;
}

#p_form input.input_box {
margin-bottom : 10px;
width : 100%;
}
#p_form form {
background : #c4e1ff none repeat scroll 0% 0%;
border : 1px solid #7caccb;
margin : 0;
min-height : 400px;
padding : 20px;
}
#article ul {
margin : 0 30px;
padding : 5px 0;
}
#article h1, h2, h3, h4, h5, h6 {
font-size : 100%;
}
#article ul li {
list-style : square;
}
#article blockquote, #article pre {
border : 2px solid #efefef;
background : #e4f0ff none repeat scroll 0% 0%;
width : 500px;
Margin : 4px;
Padding : 4px;
border-style : groove;
}
#album {
margin : 10px;
width : 100%;
}
#album li {
float : left;
height : 160px;
list-style : none;
margin : 5px 5px;
width : 200px;
}
#album img {
height : 160px;
width : 200px;
}
#bookmark_list {
margin : 0 30px;
padding : 5px 0;
}
#bookmark_list {
list-style : square;
}
.user strong {
margin : 0 5px;
}
.w960 {
clear : both;
margin : 0 auto;
width : 960px;
}
.w680 {
width : 680px;
}
.w250 {
width : 250px;
}
.w350 {
margin : 0 auto;
width : 350px;
}
.gray {
color : #ccc;
}
.tabs {
background : #cfecff;
border-bottom : 1px solid #abdafb;
padding : 5px 0;
}
.discussion {
background : #f3fcff;
}
.discussion h2 {
font-size : 100%;
font-weight : bold;
margin-left : 10px;
}
.discussion p {
margin-left : 10px;
}
.last_comment_date, .last_comment_by {
color : #ccc;
font-size : 90%;
}
.comment {
background : #f3fcff;
border-bottom : 1px dashed #ddd;
}
.comment .header {
margin : 0 10px 0 10px;
}
.comment .header .time {
margin-left : 20px;
}
.discussion h2 span, .block a span {
background : #1e79a7;
color : #eaf4fd;
font-size : 60%;
line-height : 100%;
margin : 0 0 0 5px;
}
.ac a {
background : #fff;
color : #474747;
}
.line2 {
border-bottom : 1px dashed #dddddd;
}
.line1 {
border-bottom : 1px dashed #39f;
}
.big_button {
border : 1px solid #999;
color : #02475a;
cursor : pointer;
display : block;
font-size : 15px;
font-weight : bold;
margin : 0 0 10px;
padding : 8px 0;
text-align : center;
}
.box {
//background : #c4e1ff;
margin : 0 0 15px 0;
}
.box h2 {
font-size : 120%;
font-weight : bold;
padding : 5px 10px 5px 10px;
}
.box h3 {
font-size : 100%;
font-weight : bold;
padding : 5px 10px 0 10px;
background : #c4e1ff;
}
.box p {
margin : 0 10px;
padding : 5px 0;
}
.input_box {
border : 1px solid #aaa;
color : #333;
}

.clear {
clear : both;
}
.b {
font-weight : bold;
}
.green {
color : #339933;
}
.prev {
float : left;
margin-left : 10px;
}
.next {
float : right;
margin-right : 10px;
}
.bookmarked, .bookmarking, .bookmark {
display : block;
float : right;
height : 22px;
margin : 2px 4px 0 4px;
width : 22px;
}
.bookmarked span, .bookmarking span, .bookmark span {
display : none;
}
.bookmark {
background : url('/static/images/star_sprite.png') no-repeat center top;
}
.bookmarked {
background : url('/static/images/star_sprite.png') no-repeat center center;
}
.bookmarking {
background : url('/static/images/star_sprite.png') no-repeat center bottom;
}
.list {
padding : 5px 10px;
width : 100%;
}

.list tr {
  //border-bottom : 1px dashed #39f;
  //padding : 3px 3px 3px 0;
	//background-color: #e5ecf9;
	//font-size:small;
   background-color:expression((this.sectionRowIndex%2==0)?"#E1F1F1":"#F0F0F0")
}
.list .clicks {
width : 30px;
}
.list .replies {
width : 30px;
}
.list .author {
width : 50px;
}
.list .date {
width : 140px;
}

.feed {
background : url(images/feed.png) no-repeat left center;
margin : 5px 10px;
padding : 0 0 0 20px;
}
.feed span {
margin : 0 0 0 3px;
}
a.mention, a.mention:link, a.mention:visited, a.mention:active, a.mention:hover {
color : #ff0084;
text-decoration : none;
}
.l0 {
color : #2aa4fa;
}
.l1 {
color : #e2729a;
}
.l2 {
color : #65af74;
}
.l3 {
color : #7e8db8;
}
.l4 {
color : #39f;
}
.l5 {
color : #b598a2;
}
.l6 {
color : #fdbbd1;
}
.l7 {
color : #5d0bbf;
}
.l8 {
color : #7cd5fc;
}
.l9 {
color : #e5a1fd;
}