{% extends "base.html" %}
{%block head %}
<title> {{setting.title}} > 主页</title>
<meta name="keywords" content="{{setting.key_words}}" />
<meta name="description" content="{{setting.description}}" />
{% endblock %}

{%block body %}

<script language="javascript">
window.onload=function showtable(){
var tablename=document.getElementById("topics");
var li=tablename.getElementsByTagName("tr");
for (var i=0;i<=li.length;i++){
if (i%2==0){
li[i].style.backgroundColor="#EEEEEE";
}else li[i].style.backgroundColor="#FFFFFF";
}
}
</script>

    	<div id="content" class="w680">
		{% filecache 600 cateogry %}
		<div class="box radius">
			<h3>讨论区导航</h3>
			
			<table class="list">
				{% for cat in cats %}
				    <tr>
				    	<td align="right">{{cat.title}}:</td>
						<td width="90%" align="left">{% for tag in cat.tags %}<a href="{{tag.url}}" >{{tag.title}} </a>{% endfor %}</td>
				    </tr>
				{% endfor %}
			</table>
		</div>
		{% endfilecache %}
		    		
    	{% cache 60 index %}
		<div class = "box radius">
			<h3>最近主题</h3>
			<table class ="list" id = "topics">
            	<tr>
            				<td class="clicks">点击</th>
            				<td class="replies">回复</th>
                    <td class="title">标题</th>
                    <td class="author">作者</th>
                    <td class="date">最后回复</th>
                </tr>
                {% for dis in diss %}
                <tr>
                    <td class="clicks">{{dis.count_view}}</td>
            				<td class="replies">{{dis.count_comment}}</td>
            				
                    <td class="title">
                    	[<a href="/{{dis.tag_slug}}/">{{dis.tag_title}}</a>]
                    	<a href="{{dis.url}}">{{dis.title}}</a>
					         </td>
                   <td class="author">
                      <a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a>
                   </td>
                   <td class="date">{{dis.last_comment|humdate}}                    	
                      {% if dis.last_comment_by %}
					              <a href="/u/{{dis.last_comment_by}}/">{{dis.last_comment_by}}</a>			
					             {% endif %}
                   </td>
                </tr>
                
                {% endfor %}
            </table>
			
		</div>
		
		<div class="box radius">
			<h3>最近收藏</h3>
			<ul id="bookmark_list">
				{% for bookmark in bookmarks %}
				<li class="{{forloop.counter|humcolor}}"><a href="/u/{{bookmark.user_name}}/">{{bookmark.user_name}}</a>
				收藏了
				<a href="{{bookmark.dis_url}}" rel="bookmark">{{bookmark.dis_title}}</a> <span class="date">{{bookmark.created|humdate}}</span></li>
                {% endfor %}		
			</ul>
		</div>
	   {% endcache %}
		

        </div>
	  
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}