{% extends "base.html" %}
{%block head %}
<title>{{setting.title}} > {{tag.title}}</title>
<meta name="keywords" content="{{tag.key_words}}" />
<meta name="description" content="{{tag.description}}" />
{% if prev %}
<meta name="robots" content="noindex,follow" />
{% endif %}
{% endblock %}

{%block body %}

<script language="javascript">
window.onload=function showtable(){
var tablename=document.getElementById("topics");
var li=tablename.getElementsByTagName("tr");
for (var i=0;i<=li.length;i++){
if (i%2==0){
li[i].style.backgroundColor="#EEEEEE";
}else li[i].style.backgroundColor="#FFFFFF";
}
}
</script>


    	<div id="content" class="w680">
        	<div class="box radius">
            	<h2><a href="{{tag.url}}">{{tag.title|escape}}</a></h2>
				{% if tag.header %}
				<p>{{tag.header}}</p>
				{% endif %}
            </div>
            <!-- content -->
            <div class="box radius">
			<table class ="list" id = "topics">
            	<tr>
            				<td class="clicks">点击</th>
            				<td class="replies">回复</th>
                    <td class="title">标题</th>
                    <td class="author">作者</th>
                    <td class="date">最后回复</th>
                </tr>
                {% for dis in diss %}
                <tr>                  
                    <td class="clicks">{{dis.count_view}}</td>
            				<td class="replies">{{dis.count_comment}}</td>           				
                    <td class="title"><a href="{{dis.url}}">{{dis.title}}</a></td>
                    <td class="author"><a href="/u/{{dis.user_name}}/">{{dis.user_name}}</a></td>
                    <td class="date">{{dis.last_comment|humdate}}                    	
                      {% if dis.last_comment_by %}
					              <a href="/u/{{dis.last_comment_by}}/">{{dis.last_comment_by}}</a>			
					             {% endif %}
                    </td>            
                </tr>
                {% endfor %}
            </table>
            </div>
            
            <div class="box radius">
            {% if prev %}<a class="prev" href="{{tag.url}}{{prev|humpage}}">前一页</a> {% endif %}
            {% if next %}<a class="next" href="{{tag.url}}{{next|humpage}}">后一页</a> {% endif %}
       		</div>
        </div>
     <!--sidebar include -->
     {% include "sidebar.html" %}
{% endblock %}